body {
	background-image: url(../assets/img/Jersey.jpg);
}

.container {
	background-color: whitesmoke;
	margin: 0px auto 0px auto;
    text-align:  center;
    width: 300px;
    padding: 20px;
    height: 420px;
}	